{% extends 'base.html.twig' %}

{% block title %}Список объявлений о продаже авто{% endblock %}

{% block body %}
    <h1>Список объявлений о продаже авто</h1>
    
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">{{ form_widget(form.title) }}</div>
        <div class="col-md-2">{{ form_widget(form.date) }}</div>
        <div class="col-md-3">{{ form_widget(form.country) }}</div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Filter</button>
            <a href="{{ path('ad_index') }}" class="btn btn-outline-secondary">Reset</a>
        </div>
    </div>
    {{ form_end(form) }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Year</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td>{{ ad.id }}</td>
                <td>{{ ad.title }}</td>
                <td>{{ ad.date }}</td>
                <td>{{ ad.country }}</td>
                <td>
                    <a href="{{ path('ad_show', {'id': ad.id}) }}">show</a>
                    <a href="{{ path('ad_edit', {'id': ad.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ad_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
